body{
    margin: 0px;
}
header{
    height: 200px;
    background-color: aqua;
}
nav{
    height: 100px;
    background-color: blueviolet;
}
main{
    min-height: 1000px;
    background-color: aquamarine;
}
aside{
    width: 20%;
    background-color: cornflowerblue;
    min-height: 1000px;
    float: left;
}
section{
    width: 20%;
    background-color: rgb(255, 202, 28);
    min-height: 1000px;
    float: left;
}
footer{
    height: 100px;
    background-color: rgb(35, 72, 236);
    clear: both;
}